body
{
    background-color: #B5A642;
    color: white;
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgIMVHU8G3ynMzJuGIvegAd3W0zwMqJI4PJU3voL7rZRk5Py76lg) no-repeat center center;
    background-size: cover;
    height: 1000px;
    text-align: center;
}